*.bak
*.py.bak
*.pyc
*.pyd
pysparselp/*.pyc

pysparselp/propagateConstraints.html
pysparselp/propagateConstraints.cpp

pysparselp/**/*.bak
pysparselp/**/*.pyc
build/**/*.bak
build/**/*.lib
build/**/*.exp
build/**/*.pyd
build/**/*.obj
pysparselp/propagateConstraints.cpp
pysparselp/propagateConstraints.html
pysparselp/gaussSiedel.cpp
pysparselp/gaussSiedel.html
pysparselp/*.pyc
pysparselp/SparseLP.pyc
