cython==0.29.16
flake8==3.7.9
flake8-bugbear==20.1.4
flake8-builtins==1.5.2
flake8-docstrings==1.5.0
flake8-import-order==0.18.1
matplotlib==3.1.1
numpy==1.18.2
osqp==0.6.1
scikit-learn==0.22.2
scipy==1.6.0
pytest==6.2.2
cache_to_disk==0.0.9



