numpy==1.18.2
scipy==1.4.1
sklearn==0.11
matplotlib==3.1.1
osqp==0.6.1
cython==0.29.16
flake8==3.7.9
flake8-bugbear==20.1.4
flake8-builtins==1.5.2
flake8-docstrings==1.5.0
flake8-import-order==0.18.1
PyMaxflow==1.2.12


